<a href="https://colab.research.google.com/github/ssubbinn/ESAA/blob/main/%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C_%ED%9A%8C%EA%B7%801.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 단순 선형 회귀 분석**
- 전복의 나이를 예측하는 선형회귀모델을 생성하세요.
- 전복의 ‘성별’, ‘키’, ‘지름’, ‘높이’, ‘전체무게’, ‘몸통무게’, ‘내장무게’, ‘껍질무게’를 이용해 ‘껍질의 고리 수’를 예측한 뒤, **예측된 ‘껍질의 고리 수’에 1.5를 더하면 전복의 나이**가 됩니다.

In [ ]:
# 기본 모듈 불러오기
import numpy as np
import pandas as pd

**1) 데이터 load 및 변형**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# 데이터 로드
data = pd.read_csv("/content/drive/MyDrive/김수빈/esaa/data/abalone.csv")
data.head()
print(data.shape)

# 성별 M은 Male, F는 Female, I는 Infant 이므로 따로 열 만들기
for label in "MFI":
    data[label] = data["Sex"] == label
data.drop('Sex', axis=1, inplace=True)

(4177, 9)

**2) X, y 선택**
: y는 Rings열, X는 Rings열을 제외한 나머지를 선택하되 전부 실수가 되도록 한다.

In [ ]:
# X,y 데이터 선택
y = data.Rings.values
data.drop('Rings', axis=1, inplace=True)

X = data.values.astype(float)

 **3) train/test set 분리**

In [ ]:
# 필요한 모듈 불러오기
from sklearn.model_selection import train_test_split

In [ ]:
# train과 test set 분리 (train:test = 7:3 비율로)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=100)

**4) 선형회귀모델 생성, 모델 예측치 구하기**

In [ ]:
#필요한 모듈 불러오기
from sklearn.linear_model import LinearRegression

In [ ]:
#선형회귀모델 생성 및 훈련
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
# 모델 예측치 구하기
y_preds=model.predict(X_test)

# 모델 예측치를 활용해 최종적으로 전복의 나이를 예측
y_preds+1.5

array([12.984375 , 14.703125 , 12.4375   , ..., 17.8125   , 12.9609375,
        9.8359375])

**5) 모델 평가: MSE, RMSE, R2 score, corr 구하기**

In [ ]:
#필요한 모듈 불러오기
from sklearn.metrics import mean_squared_error, r2_score

- MSE, RMSE

In [ ]:
#mse, rmse
mse=mean_squared_error(y_test, y_preds)
rmse=np.sqrt(mse)

print(mse)
print(rmse)

4.9308697032776365
2.2205561698091847

- R2 score

In [ ]:
#R2 score 측정
r2_score(y_test, y_preds)

0.5336269894594383

- 회귀 절편값

In [ ]:
#회귀 절편 값
model.intercept_

48785761923294.74

- 회귀 계수 값

In [ ]:
#회귀 계수 값
model.coef_

array([ 1.63413000e+00,  9.22614235e+00,  7.14170439e+00,  1.00291757e+01,
       -2.14741422e+01, -1.04466312e+01,  7.85014325e+00, -4.87857619e+13,
       -4.87857619e+13, -4.87857619e+13])

- 상관계수

Hint: corr 함수 이용.

In [ ]:
# 상관계수 구하기
df = pd.DataFrame({'y_pred' : y_preds, 'y_true' : y_test})
cor = df['y_pred'].corr(df['y_true'])
cor

0.7305459432088361

# **2. Polynomial features**

In [ ]:
# PolynomialFeatures 라이브러리 호출
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
# 임의 데이터 생성

X = np.arange(6).reshape(3, 2)

df =  pd.DataFrame(X)
df.columns = ['x_1','x_2']
df

   x_1  x_2
0    0    1
1    2    3
2    4    5

In [ ]:
# 차원은 2로 설정
poly = PolynomialFeatures(degree=2)
# fit_transform 메소드를 통해 데이터 변환
poly_ftr = poly.fit_transform(df)
# PolynomialFeatures로 변환 된 데이터를 데이터 프레임 형태로 변환
poly_ftr  = pd.DataFrame(poly_ftr)
poly_ftr

     0    1    2     3     4     5
0  1.0  0.0  1.0   0.0   0.0   1.0
1  1.0  2.0  3.0   4.0   6.0   9.0
2  1.0  4.0  5.0  16.0  20.0  25.0

In [ ]:
# df_poly의 컬럼을 1,x1,x2,x1^2,x1*x2,x2^2 로 변경
poly_ftr .columns = ['1','x1','x2','x1^2','x1*x2','x2^2']
poly_ftr

     1   x1   x2  x1^2  x1*x2  x2^2
0  1.0  0.0  1.0   0.0    0.0   1.0
1  1.0  2.0  3.0   4.0    6.0   9.0
2  1.0  4.0  5.0  16.0   20.0  25.0